


body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: "Courier New", Arial, Tahoma, Serif;
	background: linear-gradient(45deg, rgba(82,81,107,1) 0%, rgba(166,173,181,1) 100%);
}

main {
	display: flex;
	flex-direction: column;
	padding: 2vh;
	background-color: #D3FFE9;
	border: solid;
	border-width: 0.5vh;
	border-radius: 4vh;
	border-color: #8DDBE0;
	box-shadow: 0 0 5vh #111111;
}

.display {
	background-color: #4B5043;
	border: solid;
	border-color: #090909;
	border-width: 0.4vh;
	border-radius: 1vh;
	width: 40vh;
	height: 10vh;
	display: flex;
	align-items: center;
	color: white;
	margin-block: 2vh;
}

.display .readout {
	width: inherit;
	text-align: right;
	font-size: 5vh;
	padding: 1vh;
	word-wrap: break-word;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	width: 40vh;
	height: 40vh;
	flex: 1;
}


.buttons button {
	width: 10vh;
	height: 10vh;
	font-size: 4vh;
	border-radius: 1vh;
	padding: 0;
}

.buttons .equals,
.buttons .backspace {
	width: 20vh;
}