


body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: "Courier New", Arial, Tahoma, Serif;
	background: linear-gradient(45deg, rgba(82,81,107,1) 0%, rgba(166,173,181,1) 100%);
}

main {
	display: flex;
	flex-direction: column;
	padding: 2vh;
	background-color: #b0a8f3;
	border: solid;
	border-width: 0.5vh;
	border-radius: 4vh;
	border-color: #162324;
	box-shadow: 0 0 5vh #111111;
}

.display {
	background-color: #3b3e35;
	border: solid;
	border-color: #090909;
	border-width: 0.4vh;
	border-radius: 1vh;
	width: 40vh;
	min-height: 5vh;
	display: flex;
	align-items: center;
	color: white;
	margin-block: 2vh;
}

.display .readout {
	width: inherit;
	text-align: right;
	font-size: 5vh;
	padding: 1vh 1vh 1vh 0vh;
	word-wrap: break-word;
	min-height: 1em;
	margin: 0;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	width: 40vh;
	height: 40vh;
	flex: 1;
}

.buttons button {
	width: 9.5vh;
	height: 9.5vh;
	margin: 0.25vh;
	font-size: 4vh;
	color: #001122;
	border-radius: 3vh;
	border-color: #82b5b9;
	border-width: 0.5vh;
	padding: 0;
}

.buttons button:hover {
	transform: scale(1.05);
}

.buttons .equals,
.buttons .backspace {
	width: 19.5vh;
}